rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      // Allow clients to query posts by challengeId, nsfw and createdAt.
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
